*.o
*.8
*.lo
.DS_Store
.libs
makefile
makefile.in
makefile.am
INSTALL
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libfuse-lite/.deps/
libntfs-3g/.deps/
libntfs-3g/libntfs-3g.la
libntfs-3g/libntfs-3g.pc
libntfs-3g/libntfs-3g.script.so
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
ntfsprogs/.deps/
src/.deps/
stamp-h1
